/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: MinipaxRegular, serif;
}

#p5Canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.site-header {
  font-family: KarrikRegular, sans-serif;
  color: white;
  background-color: black;
  height: 4rem;
  display: flex;

  justify-content: start;
  align-items: center;
}
.home-link {
  font-size: 2em;
  padding: 0.5em;
}

h1,
h2 {
  font-family: KarrikRegular, sans-serif;
}

h1 {
  font-size: 4em;
  margin: 2rem;
}
.subheading {
  margin-top: 5em;
  margin-bottom: 3em;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2em;
}

.content-container {
  text-align: center;
}

/* Styles documentary entries */

.documentary-container {
  max-width: 790px;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0.5em;
}

.documentary-info > p {
  font-family: MinipaxRegular, serif;
  color: rgb(71, 71, 71);
  padding: 1em 0;
}
.documentary-info > a {
  display: block;
  font-family: KarrikRegular;
  margin-bottom: 1rem;
}
.documentary-info {
  /* padding: 1em 0; */
  height: auto;
  max-height: 600px;
  overflow: hidden;

  transition: max-height 300ms ease-out;
}

h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  /* visibility: hidden; */
  max-height: 0;
  transition: max-height 300ms ease-out;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }
  .documentary-container {
    margin-bottom: 2rem;
  }
}

footer {
  width: 90%;
  margin: auto;
  padding: 1em;
  border-top: 1px solid black;
}

.minipax-credit {
  font-family: MinipaxRegular;
}

.karrik-credit {
  font-family: KarrikRegular;
}
