/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.site-header {
  font-family: KarrikRegular, sans-serif;
  color: white;
  background-color: black;
  height: 4rem;
  display: flex;

  justify-content: start;
  align-items: center;
}
.home-link {
  font-size: 2em;
  padding: 0.5em;
}

h1,
h2 {
  font-family: KarrikRegular, sans-serif;
}

h1 {
  font-size: 4em;
  margin: 2rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2em;
}

.content-container {
  text-align: center;
}

/* Styles documentary entries */

.documentary-container {
  max-width: 50%;
  margin: auto;
  margin-bottom: 2rem;
}

.documentary-info > p {
  font-family: MinipaxRegular, serif;
  color: rgb(104, 104, 104);
}
.documentary-info > a {
  display: block;
  font-family: KarrikRegular;
  margin-bottom: 1rem;
}

h2:hover {
  text-decoration: underline;
}

.hidden {
  visibility: hidden;
}
